@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.eot');
  src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-['Roboto'] text-base bg-[whitesmoke] bg-black text-white
}

main {
  @apply min-h-[100vh] py-7;
}

.container {
  @apply mx-auto;
}
input, select { @apply bg-black }
.table-wrapper {
  @apply relative overflow-x-auto shadow-md sm:rounded-lg mt-10
}
table {
  @apply w-full text-sm text-left text-gray-400 border border-slate-800
}
thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50
}
table td, table th {
  @apply px-6 py-3
}
.table-loader {
  @apply mt-10
}
.table-loader thead {
  @apply bg-transparent
}
.table-loader th {
  @apply px-5 py-1
}
table tr:nth-child(even) {
  @apply bg-gray-900
}
table tr th:first-child {
  @apply w-[65px]
}
.green {
  @apply text-green-500;
}
.red {
  @apply text-red-500;
}
.pagination {
  @apply text-center mt-5
}
.pagination ul {
  @apply inline-flex -space-x-px
}
.pagination li {
  @apply px-3 py-2 leading-tight
}
.pagination .prev, .pagination .next {
  @apply bg-gray-800 
  border rounded border-gray-800 text-gray-400 
  hover:bg-gray-700 hover:text-white cursor-pointer
}
.search {
  @apply flex items-center
}
#search {
  @apply flex w-[272px] h-[43px] pl-3
  border border-gray-800 text-[0.9em] relative
}
#search svg {
  @apply w-[22px] h-[22px]
}
#search input {
  @apply border-0 pr-2 pl-3 w-full h-full leading-7 block
}
#search input:focus {
  @apply outline-0
}
.search-icon {
  @apply flex items-center h-full px-2
}
.search-icon svg {
  @apply w-[24px] h-[24px]
}
#search .wrapper {
  @apply w-full h-full
}
#search .list {
  @apply bg-gray-800 left-[-1px] top-[41px] max-h-[158px] 
  absolute overflow-auto w-full z-[2] text-left 
  border border-gray-900
}
#search .list > * {
  @apply block border border-t text-[0.9rem] px-5 py-[7px] 
  border border-b border-t-0 border-gray-900
}
#search .list > *:hover {
  @apply bg-gray-300 text-black
}